<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="TwbBundleTest">
            <directory suffix=".php">./TwbBundleTest/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
            <file>../Module.php</file>
        </whitelist>
    </filter>
</phpunit>
